/* Footer lock to base */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

/* Navbar */
header {
  margin-bottom: -3px;
}
.profile-picture-mini {
  width: 40px;
  border-radius: 50%;
  vertical-align: middle;
}

/* Flash Messages */

.row.flashes {
  margin-bottom: 1px;
}
.flash-margins {
  margin: 0px;
  padding: 10px;
}

/* Headings */

h3 {
  font-size: 1.5rem;
}

/* Generic CSS */
.nogutter {
  margin: 0 !important;
  padding: 0 !important;
}

/* Home Hero  */


.hero-image,
.hero-image img {
  height: 40vh;
  width: 100%;
}

.hero-image {
  position: relative;
  background: black;
}

.hero-image img {
  object-fit: cover;
  filter: opacity(0.5);
}

.hero-btn {
  bottom: 7vh;
  position: absolute;
}

.hero-btn.large {
  width: 20vw;
  left: 40vw;
}

.hero-btn.small {
  width: 10vw;
}

.hero-btn.left {
  left: 39vw;
}

.hero-btn.right {
  right: 39vw;
}

.author {
  right: 0;
  bottom: 0;
  left: unset !important;
  background: black;
  font-size: 14px;
  padding: 10px !important;
  line-height: 14px;
  color: white;
  position: absolute;
}

.author a {
  color: white;
  font-weight: 500;
}

.hero-title {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

.hero-slogan {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 20px;
  text-align: center;
}


/* Review/Tasks Card */
.review-name {
  text-transform: capitalize;
}

.review-description {
  font-size: 12px;
  text-align: justify;
  padding-top: 10px;
}

.user-photo {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0, 10px, 0, 0
}

.in-line-btn {
  display: inline-block;
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}


/* Mobile view (600px and down) */
@media only screen and (max-width: 600px) {

  /* Navbar */
  nav .brand-logo {
    left: unset;
    -webkit-transform: unset;
    transform: unset;
  }


  /* Home Hero  */
  .hero-title {
    font-size: 30px;
    width: 80vw;
    line-height: 37px;
    top: 25%;
  }

  .hero-slogan {
    font-size: 20px;
    top: 50%;
    width: 80vw;
  }
  .hero-btn.large {
    width: 50vw;
    left: 25vw;
    bottom: 12vh;
}
  .hero-btn.small {
    width: 27vw;
  }

  .hero-btn.left {
    left: 20vw;
  }

  .hero-btn.right {
    right: 20vw;
  }

  .hero-btn {
    bottom: 8vh;
  }

  .author {
    font-size: 10px;
    padding: 5px !important;
  }
}

/* Tablet View (600px and up) */
@media only screen and (max-width: 1024px) {

  /* Navbar */
  nav .brand-logo {
    left: unset;
    -webkit-transform: unset;
    transform: unset;
  }

  .hero-title {
    font-size: 30px;
    width: 80vw;
    line-height: 37px;
    top: 20%;
    margin: 0;
  }

  .hero-slogan {
    font-size: 20px;
    top: 50%;
    width: 80vw;
    margin: 0;
  }

  .hero-btn.small {
    width: 27vw;
  }

  .hero-btn.left {
    left: 20vw;
  }

  .hero-btn.right {
    right: 20vw;
  }

  .hero-btn {
    bottom: 8vh;
  }

  .hero-image,
  .hero-image img {
    height: 45vh;
  }

  .author {
    font-size: 10px;
    padding: 5px !important;
  }

  /* Review/Tasks Card */
  .card .card-title {
    font-size: 21px;
  }
}