.title-short {
    width: 7%;
    float: left;
    border-width: 5px;
    border-color: #3949ab !important;
}
.welcome-message {
    font-size: 2rem;
    line-height: 100%;
    margin-bottom: 0;
}
.margin-left-remove{
    margin-left: -0.75rem !important
}
.profile-picture {
    width: 100px;
    border-radius: 50%;
    font-size: 100px;
}
.modal-footer {
    text-align: center !important;
}
.inline-button-form {
    display:inline
}
.no-margins {
    margin: 0 !important
}
.card-action {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.card {
    height: 35vh;
}
.fullfitbtn {
    width: 10vw;
    height: 8vh;
}
.fullfitbtn-dbl {
    width: 10vw;
    height: 16vh;
}
.switch label .lever {
    margin: 0px;
}
a.tooltipped.white-text {
    margin-left: -0.75vw;
    width: 10vw;
    display: inline-block;
}
.padding-between {
    min-height: 5vh !important;
}