{% extends "base.html" %}

<!-- page specific stylesheets below -->
{% block pagestyles %}
<link rel="stylesheet" href="{{ url_for ('static', filename='css/about.css')}}" type="text/css">

{% endblock %}
<!-- end section-->

<!-- page title below **NO FORMATING** -->
{% block pagetitle %}
Home
{% endblock %}
<!-- end section-->

<!-- page content below -->
{% block content %}
  <!-- No User Logged In-->
<div class="row">
  <div class="col s12 m4 l4">
    <figure class="about-fig-container">
      <img class="about-fig-img" src="{{image[0].image_url}}" alt="Image created by {{image[0].creator}}">
      <figcaption>
        <strong>Creator:</strong> <a href="{{image[0].creator_backlink}}">{{image[0].creator}} </a><br>
        <strong>Source:</strong> <a href="{{image[0].source_backlink}}">{{image[0].source}}</a><br>
      </figcaption>
    </figure>
  </div>
  <div class="col s12 m8 l8">
    <h3 class="about-heading">About <strong>Think Anything</strong></h3>
    <p class="about-para">Think Anything is a pioneering digital mental health journal that aims to revolutionise the way we approach and understand mental well-being. Our mission is to provide a safe and inclusive platform where individuals from all walks of life can openly explore and express their thoughts, emotions, and experiences related to mental health. Through insightful articles, personal stories, expert interviews, and evidence-based research, Think Anything strives to empower individuals, promote understanding, and break the stigma surrounding mental health. We believe that everyone's mental health matters, and by fostering a supportive community, we hope to inspire positive change and promote mental well-being for all. Join us on this transformative journey as we challenge conventions, ignite conversations, and redefine the way we think about mental health.</p>
  </div>
</div>
{% endblock%}
<!-- end section-->

<!-- page specific script files below -->
{% block pagescripts %}

{% endblock %}
<!-- end section-->