{% extends "base.html" %}

<!-- page specific stylesheets below -->
{% block pagestyles %}

{% endblock %}
<!-- end section-->

<!-- page title below **NO FORMATING** -->
{% block pagetitle %}
Home
{% endblock %}
<!-- end section-->

<!-- page content below -->
{% block content %}
<!-- Home Hero -->
<section class="row nogutter">
  <div class="col s12 m12 nogutter">
    <div class="hero nogutter">
      <div class="hero-image nogutter">
        {% if "http" is not in background.image_url %}
        <img src="{{ url_for ('static', filename='uploaded_art_store/')}}{{ background.0.image_url }}">
        {% else %}
        <img src="{{ background.0.image_url }}">
        {% endif %}
        <h1 class="hero-title">Welcome to Think Anything</h1>
        <h2 class="hero-slogan">Embrace the Journey, Empower Your Mind</h2>
        {% if session.user %}
        <a class="btn indigo darken-1 hero-btn large" href="#">Go to your Journal</a>
        {% else %}
        <a class="btn indigo darken-1 hero-btn left small" href="{{ url_for('login') }}">Log in</a>
        <a class="btn indigo darken-1 hero-btn right small" href="#">Sign up</a>
        {% endif %}
        <span class="author login-author">Creator: <a
          href="{{ background.0.creator_backlink }}">{{ background.0.creator }}</a>
      <br>
      {% if background.0.source %}
          Source:
          {% if background.0.source_backlink %}
              <a href="{{ background.0.source_backlink }}">{{ background.0.source }}</a>
          {% else %}
              <strong>{{ background.0.source }}</strong>
          {% endif %}
      {% endif %}
      <br><br>
      <a href="{{ url_for('share_your_art')}}">Share your own artwork</a>
  </span>
      </div>
    </div>
  </div>
</section>
<section class="container">
  {% if session.user %}
  <!-- User Logged In-->
  <h3 class="center-align">Quick View - Tasks for Today</h3>
  <div class="row">
    {% for goal in goals %}
    <div class="col s12 m6 l4">
      <div class="card indigo darken-1">
        <div class="card-content white-text">
          <span class="card-title review-name">{{ goal.title }}</span><span>
          </span>
          <p class="review-description">{{ goal.description }}</p>
          <br>
          <form action="{{ url_for('goal_done', goal_id=goal._id )}}" class="in-line-btn" method="POST">
            <button class="btn indigo green in-line-btn" type="submit">Done</button> </form>
          <form action="{{ url_for('goal_move_tomorrow', goal_id=goal._id )}}" class="in-line-btn" method="POST">
            <button class="btn indigo white black-text" type="submit">Tomorrow</button> </form>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <!-- No User Logged In-->
  <div class="row">
    <h3 class="center-align">Take a look at our reviews so far!</h3>
    {% for review in reviews %}
    <div class="col s12 m4 l4">
      <div class="card indigo darken-1">
        <div class="card-content white-text">
          <span class="card-title review-name">
            {% if review.user_photo %}
            <img class="user-photo" src="{{ review.user_photo }}" alt="{{ review.name }}'s avatar">
            {% else %}
            <i class="fa-regular fa-circle-user"></i>
            {% endif %}
            {{ review.name }}</span>
          <span>
            {% if review.stars == 1 %}
            <i class="fa-solid fa-star white-text"></i>
            <i class="fa-regular fa-star white-text"></i>
            <i class="fa-regular fa-star white-text"></i>
            <i class="fa-regular fa-star white-text"></i>
            <i class="fa-regular fa-star white-text"></i>
            {% elif review.stars == 2 %}
            <i class="fa-solid fa-star white-text"></i>
            <i class="fa-solid fa-star white-text"></i>
            <i class="fa-regular fa-star white-text"></i>
            <i class="fa-regular fa-star white-text"></i>
            <i class="fa-regular fa-star white-text"></i>
            {% elif review.stars == 3 %}
            <i class="fa-solid fa-star white-text"></i>
            <i class="fa-solid fa-star white-text"></i>
            <i class="fa-solid fa-star white-text"></i>
            <i class="fa-regular fa-star white-text"></i>
            <i class="fa-regular fa-star white-text"></i>
            {% elif review.stars == 4 %}
            <i class="fa-solid fa-star white-text"></i>
            <i class="fa-solid fa-star white-text"></i>
            <i class="fa-solid fa-star white-text"></i>
            <i class="fa-solid fa-star white-text"></i>
            <i class="fa-regular fa-star white-text"></i>
            {% elif review.stars == 5 %}
            <i class="fa-solid fa-star white-text"></i>
            <i class="fa-solid fa-star white-text"></i>
            <i class="fa-solid fa-star white-text"></i>
            <i class="fa-solid fa-star white-text"></i>
            <i class="fa-solid fa-star white-text"></i>
            {% else %}
            <br>
            {% endif %}
          </span>
          <p class="review-description">{{ review.description }}</p>
        </div>
      </div>
    </div>

    {% endfor %}
  </div>
  {% endif %}
</section>
{% endblock%}
<!-- end section-->

<!-- page specific script files below -->
{% block pagescripts %}

{% endblock %}
<!-- end section-->