{% extends "base.html" %}

<!-- page specific stylesheets below -->
{% block pagestyles %}

{% endblock %}
<!-- end section-->

<!-- page title below **NO FORMATING** -->
{% block pagetitle %}
    Home
{% endblock %}
<!-- end section-->

<!-- page content below -->
{% block content %}
<section class="row nogutter">
    <div class="col s12 m12 nogutter">
      <div class="card nogutter">
        <div class="card-image nogutter">
          <img src="https://miro.medium.com/v2/resize:fit:1000/1*esN2hDU1lrtZHhhAriQbNA.jpeg">
          <span class="card-title">Card Title</span>
          <a class="btn indigo darken-1" href="#">Card Title</a>
          <span class="author">Creator: <a href="http://rawpixel.com">rawpixel.com</a><br>Source: <a href="https://www.google.co.uk/url?sa=i&url=https%3A%2F%2Fmedium.com%2F%40JGLove%2Fdoes-the-solution-to-our-mental-health-crisis-lie-in-a-collective-purpose-2617ef2552e3&psig=AOvVaw3PScSej9W09lDhw7cJi4m5&ust=1696886957445000&source=images&cd=vfe&opi=89978449&ved=0CBIQjhxqFwoTCJib59ey54EDFQAAAAAdAAAAABAD">Medium</a></span>
        </div>
      </div>
    </div>
  </section>
  <section class="container">

  </section>
{% endblock%}
<!-- end section-->

<!-- page specific script files below -->
{% block pagescripts %}

{% endblock %}
<!-- end section-->