{% extends "base.html" %}

<!-- page specific stylesheets below -->
{% block pagestyles %}

{% endblock %}
<!-- end section-->

<!-- page title below **NO FORMATING** -->
{% block pagetitle %}
    Home
{% endblock %}
<!-- end section-->

<!-- page content below -->
{% block content %}
    <h3>Hello there, welcome to the first page of Think Anything. Exciting things to come!</h3>
{% endblock%}
<!-- end section-->

<!-- page specific script files below -->
{% block pagescripts %}

{% endblock %}
<!-- end section-->