{% extends "base.html" %}

<!-- page specific stylesheets below -->
{% block pagestyles %}
<link rel="stylesheet" href="{{ url_for ('static', filename='css/journal.css')}}" type="text/css">
{% endblock %}
<!-- end section-->

<!-- page title below **NO FORMATING** -->
{% block pagetitle %}
Profile
{% endblock %}
<!-- end section-->

<!-- page content below -->
{% block content %}
{% if session.user %}
<!-- User Logged In-->
<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="welcome-message">
        <strong>{{ user_data.full_name.title() }}'s</strong> Journal
      </h1>
      <span class="lastlogin">You are viewing the date: <strong>{{ selected_date }}</strong> <br> <a href="?date={{ previous_day_formated }}"> <i class="fa-solid fa-circle-chevron-left"></i> Previous Day</a> ||  <a href="?date={{ next_day_formated }}">Next Day <i class="fa-solid fa-circle-chevron-right"></i></a></span><br>
      
      <hr class="indigo darken-1 title-short"><br>
    </div>
  </div>
  <div class="row">
    <!-- Row One-->
    <!-- Card One-->
    {% if objectives|length != 0 %}
      {% for objective in objectives %}
        <div class="col l12 m12 s12">
          {% if objective.done == "yes" %}
            <i class="fa-solid fa-circle-check green-text done-tick-top-left"></i>
          {% else %}
            <i class="fa-solid fa-spinner indigo lighten-4 black-text pending-tick-top-left"></i>
          {% endif %}
            <div class="card indigo darken-1">
              <div class="card-action right">
                  <a class="green white-text btn double-btn-spacer edit-tom-done-buttons" href="mark as done in db from objectid"><i class="fa-solid fa-check"></i></a>
                  <a class="blue white-text btn edit-tom-done-buttons" href="change to tommorow date in db from objectid"><i class="fa-solid fa-forward"></i></a>
                  <a class="orange white-text btn edit-tom-done-buttons modal-trigger" data-target="{{ objective._id }}"><i class="fa-solid fa-pencil"></i></a>
              </div>
            <div class="card-content white-text">
              <span class="card-title">Today you wanted to...</span>
                  <p>{{objective.title}}</p>
            </div>
          </div>
        </div>
        <!-- MODAL-->
        <div id="{{ objective._id }}" class="modal">
          <div class="modal-content indigo darken-1 white-text">
            <form action="{{ url_for('add_edit_goal') }}" method="post"
            class="inline-button-form">
              <h4>Edit your daily objective</h4>
              <input type="text" class="white-text" name="title" id="title" value="{{ objective.title }}">
              <input type="hidden" name="url_date" id="url_date" value="{{ selected_date }}" />
              <input type="hidden" name="objective" id="objective" value="yes" />
              <input type="hidden" name="_id" id="_id" value="{{ objective._id }}" />
              <input type="hidden" name="date" id="date" value="{{ selected_date }}" />
              <button type="submit" class="modal-close red white-text btn">Save</button>        
          </form>
          <a href="#!" class="modal-close black white-text btn">Cancel</a>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <div class="col l12 m12 s12">
        <div class="card indigo darken-1">
          <div class="card-content white-text">
            <a class="green white-text btn double-btn-spacer edit-tom-done-buttons modal-trigger" data-target="new-objective"><i class="fa-solid fa-plus"></i></a>
            <span class="card-title">No Objective Set <a class="modal-trigger" data-target="new-objective" href="!#">Add a new objective!</a></span>
          </div>
        </div>
      </div>
      <!-- MODAL-->
      <div id="new-objective" class="modal">
        <div class="modal-content indigo darken-1 white-text">
          <form action="{{ url_for('add_edit_goal') }}" method="post"
          class="inline-button-form">
            <h4>Add your daily objective for</h4><h5> {{ selected_date }}</h5>
            <input type="text" class="white-text" name="title" id="title" placeholder="Type your objective here">
            <input type="hidden" name="url_date" id="url_date" value="{{ selected_date }}" />
            <input type="hidden" name="objective" id="objective" value="yes" />
            <input type="hidden" name="date" id="date" value="{{ selected_date }}" />
            <button type="submit" class="modal-close red white-text btn">Add</button>        
        </form>
        <a href="#!" class="modal-close black white-text btn">Cancel</a>
        </div>
      </div>      
    {% endif %}
    <!-- Row Two-->
    {% if goals|length == 0 %}
        <!--No Goal 1 Container-->
        <div class="col l4 m12 s12">
          <div class="card indigo darken-1">
            <div class="card-content white-text">
              <a class="green white-text btn double-btn-spacer edit-tom-done-buttons modal-trigger"
                data-target="new-goal"><i class="fa-solid fa-plus"></i></a>
              <span class="card-title">No Goal Set <a class="modal-trigger" data-target="new-goal" href="!#">Add a new
                  goal!</a></span>
            </div>
          </div>
        </div>
        <!--No Goal 2 Container-->
        <div class="col l4 m12 s12">
          <div class="card indigo darken-1">
            <div class="card-content white-text">
              <a class="green white-text btn double-btn-spacer edit-tom-done-buttons modal-trigger"
                data-target="new-goal"><i class="fa-solid fa-plus"></i></a>
              <span class="card-title">No Goal Set <a class="modal-trigger" data-target="new-goal" href="!#">Add a new
                  goal!</a></span>
            </div>
          </div>
        </div>
        <!--No Goal 3 Container-->
        <div class="col l4 m12 s12">
          <div class="card indigo darken-1">
            <div class="card-content white-text">
              <a class="green white-text btn double-btn-spacer edit-tom-done-buttons modal-trigger"
                data-target="new-goal"><i class="fa-solid fa-plus"></i></a>
              <span class="card-title">No Goal Set <a class="modal-trigger" data-target="new-goal" href="!#">Add a new
                  goal!</a></span>
            </div>
          </div>
        </div>
        <!-- New Goal Modal -->
        <div id="new-goal" class="modal">
          <div class="modal-content indigo darken-1 white-text">
            <form action="{{ url_for('add_edit_goal') }}" method="post" class="inline-button-form">
              <h4>Add a goal for</h4>
              <h5> {{ selected_date }}</h5>
              <input type="text" class="white-text" name="title" id="title" placeholder="Goal Title">
              <input type="text" class="white-text" name="description" id="description" placeholder="Goal Description">
              <input type="hidden" name="url_date" id="url_date" value="{{ selected_date }}" />
              <input type="hidden" name="objective" id="objective" value="no" />
              <input type="hidden" name="date" id="date" value="{{ selected_date }}" />
              <button type="submit" class="modal-close red white-text btn">Add</button>
            </form>
            <a href="#!" class="modal-close black white-text btn">Cancel</a>
          </div>
        </div>
    {% elif goals|length == 1 %}
    <!-- Goal One Container-->
    {% for goal in goals %}
    <div class="col l4 m12 s12">
      {% if goal.done == "yes" %}
      <i class="fa-solid fa-circle-check green-text done-tick-top-left"></i>
      {% else %}
      <i class="fa-solid fa-spinner indigo lighten-4 black-text pending-tick-top-left"></i>
      {% endif %}
      <div class="card indigo darken-1">
        <div class="card-action right">
          <a class="green white-text btn double-btn-spacer edit-tom-done-buttons"
            href="mark as done in db from objectid"><i class="fa-solid fa-check"></i></a>
          <a class="blue white-text btn edit-tom-done-buttons" href="change to tommorow date in db from objectid"><i
              class="fa-solid fa-forward"></i></a>
          <a class="orange white-text btn edit-tom-done-buttons modal-trigger" data-target="{{ goal._id }}"><i
              class="fa-solid fa-pencil"></i></a>
        </div>
        <div class="card-content white-text">
          <span class="card-title">{{goal.title}}</span>
          <p>{{goal.description}}</p>
        </div>
      </div>
    </div>
    <!-- MODAL-->
    <div id="{{ goal._id }}" class="modal">
      <div class="modal-content indigo darken-1 white-text">
        <form action="{{ url_for('add_edit_goal') }}" method="post" class="inline-button-form">
          <h4>Edit your goal</h4>
          <input type="text" class="white-text" name="title" id="title" value="{{ goal.title }}">
          <input type="text" class="white-text" name="description" id="description" value="{{ goal.description }}">
          <input type="hidden" name="url_date" id="url_date" value="{{ selected_date }}" />
          <input type="hidden" name="objective" id="objective" value="no" />
          <input type="hidden" name="_id" id="_id" value="{{ goal._id }}" />
          <input type="hidden" name="date" id="date" value="{{ selected_date }}" />
          <button type="submit" class="modal-close red white-text btn">Save</button>
        </form>
        <a href="#!" class="modal-close black white-text btn">Cancel</a>
      </div>
    </div>
    {% endfor %}
    <!--No Goal 1 Container-->
    <div class="col l4 m12 s12">
      <div class="card indigo darken-1">
        <div class="card-content white-text">
          <a class="green white-text btn double-btn-spacer edit-tom-done-buttons modal-trigger"
            data-target="new-goal"><i class="fa-solid fa-plus"></i></a>
          <span class="card-title">No Goal Set <a class="modal-trigger" data-target="new-goal" href="!#">Add a new
              goal!</a></span>
        </div>
      </div>
    </div>
    <!--No Goal 2 Container-->
    <div class="col l4 m12 s12">
      <div class="card indigo darken-1">
        <div class="card-content white-text">
          <a class="green white-text btn double-btn-spacer edit-tom-done-buttons modal-trigger"
            data-target="new-goal"><i class="fa-solid fa-plus"></i></a>
          <span class="card-title">No Goal Set <a class="modal-trigger" data-target="new-goal" href="!#">Add a new
              goal!</a></span>
        </div>
      </div>
    </div>
    <!-- New Goal Modal -->
    <div id="new-goal" class="modal">
      <div class="modal-content indigo darken-1 white-text">
        <form action="{{ url_for('add_edit_goal') }}" method="post" class="inline-button-form">
          <h4>Add a goal for</h4>
          <h5> {{ selected_date }}</h5>
          <input type="text" class="white-text" name="title" id="title" placeholder="Goal Title">
          <input type="text" class="white-text" name="description" id="description" placeholder="Goal Description">
          <input type="hidden" name="url_date" id="url_date" value="{{ selected_date }}" />
          <input type="hidden" name="objective" id="objective" value="no" />
          <input type="hidden" name="date" id="date" value="{{ selected_date }}" />
          <button type="submit" class="modal-close red white-text btn">Add</button>
        </form>
        <a href="#!" class="modal-close black white-text btn">Cancel</a>
      </div>
    </div>
    {% elif goals|length == 2 %}
    {% for goal in goals %}
    <div class="col l4 m12 s12">
      {% if goal.done == "yes" %}
      <i class="fa-solid fa-circle-check green-text done-tick-top-left"></i>
      {% else %}
      <i class="fa-solid fa-spinner indigo lighten-4 black-text pending-tick-top-left"></i>
      {% endif %}
      <div class="card indigo darken-1">
        <div class="card-action right">
          <a class="green white-text btn double-btn-spacer edit-tom-done-buttons"
            href="mark as done in db from objectid"><i class="fa-solid fa-check"></i></a>
          <a class="blue white-text btn edit-tom-done-buttons" href="change to tommorow date in db from objectid"><i
              class="fa-solid fa-forward"></i></a>
          <a class="orange white-text btn edit-tom-done-buttons modal-trigger" data-target="{{ goal._id }}"><i
              class="fa-solid fa-pencil"></i></a>
        </div>
        <div class="card-content white-text">
          <span class="card-title">{{goal.title}}</span>
          <p>{{goal.description}}</p>
        </div>
      </div>
    </div>
    <!-- MODAL-->
    <div id="{{ goal._id }}" class="modal">
      <div class="modal-content indigo darken-1 white-text">
        <form action="{{ url_for('add_edit_goal') }}" method="post" class="inline-button-form">
          <h4>Edit your goal</h4>
          <input type="text" class="white-text" name="title" id="title" value="{{ goal.title }}">
          <input type="text" class="white-text" name="description" id="description" value="{{ goal.description }}">
          <input type="hidden" name="url_date" id="url_date" value="{{ selected_date }}" />
          <input type="hidden" name="objective" id="objective" value="no" />
          <input type="hidden" name="_id" id="_id" value="{{ goal._id }}" />
          <input type="hidden" name="date" id="date" value="{{ selected_date }}" />
          <button type="submit" class="modal-close red white-text btn">Save</button>
        </form>
        <a href="#!" class="modal-close black white-text btn">Cancel</a>
      </div>
    </div>
    {% endfor %}
    <!--No Goal 1 Container-->
    <div class="col l4 m12 s12">
      <div class="card indigo darken-1">
        <div class="card-content white-text">
          <a class="green white-text btn double-btn-spacer edit-tom-done-buttons modal-trigger"
            data-target="new-goal"><i class="fa-solid fa-plus"></i></a>
          <span class="card-title">No Goal Set <a class="modal-trigger" data-target="new-goal" href="!#">Add a new
              goal!</a></span>
        </div>
      </div>
    </div>
    <!-- New Goal Modal -->
    <div id="new-goal" class="modal">
      <div class="modal-content indigo darken-1 white-text">
        <form action="{{ url_for('add_edit_goal') }}" method="post" class="inline-button-form">
          <h4>Add a goal for</h4>
          <h5> {{ selected_date }}</h5>
          <input type="text" class="white-text" name="title" id="title" placeholder="Goal Title">
          <input type="text" class="white-text" name="description" id="description" placeholder="Goal Description">
          <input type="hidden" name="url_date" id="url_date" value="{{ selected_date }}" />
          <input type="hidden" name="objective" id="objective" value="no" />
          <input type="hidden" name="date" id="date" value="{{ selected_date }}" />
          <button type="submit" class="modal-close red white-text btn">Add</button>
        </form>
        <a href="#!" class="modal-close black white-text btn">Cancel</a>
      </div>
    </div>
  {% elif goals|length >= 3 %}
    {% for goal in goals %}
    <div class="col l4 m12 s12">
      {% if goal.done == "yes" %}
      <i class="fa-solid fa-circle-check green-text done-tick-top-left"></i>
      {% else %}
      <i class="fa-solid fa-spinner indigo lighten-4 black-text pending-tick-top-left"></i>
      {% endif %}
      <div class="card indigo darken-1">
        <div class="card-action right">
          <a class="green white-text btn double-btn-spacer edit-tom-done-buttons"
            href="mark as done in db from objectid"><i class="fa-solid fa-check"></i></a>
          <a class="blue white-text btn edit-tom-done-buttons" href="change to tommorow date in db from objectid"><i
              class="fa-solid fa-forward"></i></a>
          <a class="orange white-text btn edit-tom-done-buttons modal-trigger" data-target="{{ goal._id }}"><i
              class="fa-solid fa-pencil"></i></a>
        </div>
        <div class="card-content white-text">
          <span class="card-title">{{goal.title}}</span>
          <p>{{goal.description}}</p>
        </div>
      </div>
    </div>
    <!-- MODAL-->
    <div id="{{ goal._id }}" class="modal">
      <div class="modal-content indigo darken-1 white-text">
        <form action="{{ url_for('add_edit_goal') }}" method="post" class="inline-button-form">
          <h4>Edit your goal</h4>
          <input type="text" class="white-text" name="title" id="title" value="{{ goal.title }}">
          <input type="text" class="white-text" name="description" id="description" value="{{ goal.description }}">
          <input type="hidden" name="url_date" id="url_date" value="{{ selected_date }}" />
          <input type="hidden" name="objective" id="objective" value="no" />
          <input type="hidden" name="_id" id="_id" value="{{ goal._id }}" />
          <input type="hidden" name="date" id="date" value="{{ selected_date }}" />
          <button type="submit" class="modal-close red white-text btn">Save</button>
        </form>
        <a href="#!" class="modal-close black white-text btn">Cancel</a>
      </div>
    </div>
    {% endfor %}
  {% endif %}
{% else %}
<!-- No User Logged In-->
<div class="row">
  <h3 class="center-align">You must be logged in to manage your journal! <a href="{{ url_for('login') }}">Login
      Here</a></h3>
</div>
{% endif %}
{% endblock %}
<!-- end section-->

<!-- page specific script files below -->
{% block pagescripts %}

{% endblock %}
<!-- end section-->