{% extends "base.html" %}

<!-- page specific stylesheets below -->
{% block pagestyles %}
<link rel="stylesheet" href="{{ url_for ('static', filename='css/journal.css')}}" type="text/css">
{% endblock %}
<!-- end section-->

<!-- page title below **NO FORMATING** -->
{% block pagetitle %}
Profile
{% endblock %}
<!-- end section-->

<!-- page content below -->
{% block content %}
{% if session.user %}
<!-- User Logged In-->
<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="welcome-message">
        <strong>{{ user_data.full_name.title() }}'s</strong> Journal
      </h1>
      <span class="lastlogin">You are viewing the date: <strong>{{ selected_date }}</strong> <br> <a href="?date={{ previous_day_formated }}"> <i class="fa-solid fa-circle-chevron-left"></i> Previous Day</a> ||  <a href="?date={{ next_day_formated }}">Next Day <i class="fa-solid fa-circle-chevron-right"></i></a></span><br>
      
      <hr class="indigo darken-1 title-short"><br>
    </div>
  </div>
  <div class="row">
    <!-- Row One-->
    <!-- Card One-->
    <div class="col l12 m12 s12">
      {% if objective|length != 0 %}
        {% if objective[0].done == "yes" %}
          <i class="fa-solid fa-circle-check green-text done-tick-top-left"></i>
          {% else %}
          <i class="fa-solid fa-spinner indigo lighten-4 black-text pending-tick-top-left"></i>
        {% endif %}
      {% endif %}
      <div class="card indigo darken-1">
        <div class="card-action right">
          {% if objective|length != 0 %}
            {% if objective[0].done == "no" %}
              <a class="green white-text btn double-btn-spacer edit-tom-done-buttons" href="mark as done in db from objectid"><i class="fa-solid fa-check"></i></a>
              <a class="blue white-text btn edit-tom-done-buttons" href="change to tommorow date in db from objectid"><i class="fa-solid fa-forward"></i></a>
              <a class="orange white-text btn edit-tom-done-buttons modal-trigger" data-target="add-edit-objective"><i class="fa-solid fa-pencil"></i></a>
            {% endif %}
          {% else %}
            <a class="green white-text btn double-btn-spacer edit-tom-done-buttons modal-trigger" data-target="add-edit-objective"><i class="fa-solid fa-plus"></i></a>
          {% endif %}
          </div>
        <div class="card-content white-text">
          <span class="card-title">Today you wanted to...</span>
            {% if objective|length == 0 %}
              <p>Nothing! You have no objective set for today.</p>
            {% else %}
              <p>{{objective[0].title}}</p>
            {% endif %}
        </div>
      </div>
      </div>
    <!-- Row Two-->
    <!-- Card Two-->
    <div class="col s12 m4">
      {% if goals[0] %}
      {% if goals[0].done == "yes" %}
        <i class="fa-solid fa-circle-check green-text done-tick-top-left"></i>
        {% else %}
        <i class="fa-solid fa-spinner indigo lighten-4 black-text pending-tick-top-left"></i>
      {% endif %}
    {% endif %}
      <div class="card indigo darken-1">
        <div class="card-content white-text">
          {% if goals[0] %}
            {% if goals[0].done == "no" %}
              <a class="green white-text btn double-btn-spacer edit-tom-done-buttons" href="mark as done in db from objectid"><i class="fa-solid fa-check"></i></a>
              <a class="blue white-text btn edit-tom-done-buttons" href="change to tommorow date in db from objectid"><i class="fa-solid fa-forward"></i></a>
              <a class="orange white-text btn edit-tom-done-buttons modal-trigger" data-target="add-edit-goal"><i class="fa-solid fa-pencil"></i></a>
            {% endif %}
          {% else %}
            <a class="green white-text btn double-btn-spacer edit-tom-done-buttons modal-trigger" data-target="add-edit-goal"><i class="fa-solid fa-plus"></i></a>
          {% endif %}
          {% if goals[0] %}
          <span class="card-title">{{ goals[0].title }}</span>
          <p>{{ goals[0].description }}</p>
          {% else %}
          <span class="card-title">No Goal Set</span>
          {% endif %}
        </div>
      </div>
    </div>
    <!-- Card Three-->
    <div class="col s12 m4">
      {% if goals[1] %}
      {% if goals[1].done == "yes" %}
        <i class="fa-solid fa-circle-check green-text done-tick-top-left"></i>
        {% else %}
        <i class="fa-solid fa-spinner indigo lighten-4 black-text pending-tick-top-left"></i>
      {% endif %}
    {% endif %}
      <div class="card indigo darken-1">
        <div class="card-content white-text">
          {% if goals[1] %}
            {% if goals[1].done == "no" %}
              <a class="green white-text btn double-btn-spacer edit-tom-done-buttons" href="mark as done in db from objectid"><i class="fa-solid fa-check"></i></a>
              <a class="blue white-text btn edit-tom-done-buttons" href="change to tommorow date in db from objectid"><i class="fa-solid fa-forward"></i></a>
              <a class="orange white-text btn edit-tom-done-buttons modal-trigger" data-target="add-edit-goal"><i class="fa-solid fa-pencil"></i></a>
            {% endif %}
          {% else %}
            <a class="green white-text btn double-btn-spacer edit-tom-done-buttons modal-trigger" data-target="add-edit-goal"><i class="fa-solid fa-plus"></i></a>
          {% endif %}
          {% if goals[1] %}
          <span class="card-title">{{ goals[1].title }}</span>
          <p>{{ goals[1].description }}</p>
          {% else %}
          <span class="card-title">No Goal Set</span>
          {% endif %}
        </div>
      </div>
    </div>
     <!-- Card Four-->
     <div class="col s12 m4">
      {% if goals[2] %}
      {% if goals[2].done == "yes" %}
        <i class="fa-solid fa-circle-check green-text done-tick-top-left"></i>
        {% else %}
        <i class="fa-solid fa-spinner indigo lighten-4 black-text pending-tick-top-left"></i>
      {% endif %}
    {% endif %}
      <div class="card indigo darken-1">
        <div class="card-content white-text">
          {% if goals[2] %}
            {% if goals[2].done == "no" %}
              <a class="green white-text btn double-btn-spacer edit-tom-done-buttons" href="mark as done in db from objectid"><i class="fa-solid fa-check"></i></a>
              <a class="blue white-text btn edit-tom-done-buttons" href="change to tommorow date in db from objectid"><i class="fa-solid fa-forward"></i></a>
              <a class="orange white-text btn edit-tom-done-buttons modal-trigger" data-target="add-edit-goal"><i class="fa-solid fa-pencil"></i></a>
            {% endif %}
          {% else %}
            <a class="green white-text btn double-btn-spacer edit-tom-done-buttons modal-trigger" data-target="add-edit-goal"><i class="fa-solid fa-plus"></i></a>
          {% endif %}
          {% if goals[2] %}
          <span class="card-title">{{ goals[2].title }}</span>
          <p>{{ goals[2].description }}</p>
          {% else %}
          <span class="card-title">No Goal Set</span>
          {% endif %}
        </div>
      </div>
    </div>
</div>
</div>
{% else %}
<!-- No User Logged In-->
<div class="row">
  <h3 class="center-align">You must be logged in to manage your journal! <a href="{{ url_for('login') }}">Login
      Here</a></h3>
</div>
{% endif %}
<!-- Modals -->
<!-- Update Add Objective Modal -->
<div id="add-edit-objective" class="modal">
  <div class="modal-content indigo darken-1 white-text">
    <form action="{{ url_for('add_edit_goal') }}" method="post"
    class="inline-button-form">
    {% if objective|length == 0 %}
      <h4>Add your daily objective for {{ selected_date }}</h4>
      <input type="text" class="white-text" name="title" id="title">
      <input type="hidden" name="url_date" id="url_date" value="{{ selected_date }}" />
      <input type="hidden" name="objective" id="objective" value="yes" />
      <input type="hidden" name="date" id="date" value="{{ selected_date }}" />
      <button type="submit" class="modal-close red white-text btn">Add</button>
    {% else %}
      <h5>Edit your daily objective</h5>
      <input type="text" class="white-text"name="title" id="title" value="{{ objective[0].title }}">
      <input type="hidden" name="url_date" id="url_date" value="{{ selected_date }}" />
      <input type="hidden" name="_id" id="_id" value="{{ objective[0]._id }}" />
      <button type="submit" class="modal-close red white-text btn">Update Goal</button>
    {% endif %}

  </form>

  <a href="#!" class="modal-close black white-text btn">Cancel</a>
  </div>
</div>
</section>
<!-- Upload Photo Modal -->
<div id="upload-prompt" class="modal">
  <div class="modal-content indigo darken-1 white-text">
    <h4>Upload your new photo</h4>
    <p>File size must not exceed 30MB. Images must be PNG, JPG or JPEG</p>
  </div>
  <div class="modal-footer indigo darken-1 white-text">
    <form action="{{ url_for('upload_profile_photo', user_id=user_data._id ) }}" method="post" class="inline-button-form" enctype="multipart/form-data">
      <input type="file" name="file" id="file" class="white-text" accept="image/png, image/jpeg">
      <button type="submit" class="green white-text btn">Upload Photo</button>
    </form>
    <a href="#!" class="modal-close black white-text btn">Cancel</a>
  </div>
</div>
<!-- Delete Profile Modal -->
<div id="delete-profile-prompt" class="modal">
  <div class="modal-content indigo darken-1 white-text">
    <h4>Are you sure you want to delete your account?</h4>
    <p>This action cannot be undone!</p>
  </div>
  <div class="modal-footer indigo darken-1 white-text ">
    <a href="#!" class="modal-close black white-text btn">No - Cancel</a>
    <form action="{{ url_for('delete_account', user_id=user_data._id ) }}" method="post" class="inline-button-form">
      <button type="submit" class="modal-close red white-text btn">Delete Account</button>
    </form>
  </div>
</div>
</section>
{% endblock %}
<!-- end section-->

<!-- page specific script files below -->
{% block pagescripts %}

{% endblock %}
<!-- end section-->