{% extends "base.html" %}

<!-- page specific stylesheets below -->
{% block pagestyles %}
<link rel="stylesheet" href="{{ url_for ('static', filename='css/report_it.css')}}" type="text/css">
<style>
    main {
        background-image: url("{{ background.0.image_url }}");
    }
</style>
{% endblock %}
<!-- end section-->

<!-- page title below **NO FORMATING** -->
{% block pagetitle %}
Report
{% endblock %}
<!-- end section-->

<!-- page content below -->
{% block content %}

<div class="row">
    <div class="card-panel contact-form">
        <form method="post" action="{{ url_for('report_it') }}">
            <h3 class="center-align">Report to <strong>Think Anything</strong></h3>
            <div class="row">
                {% if session.user %}
                <div class="input-field col s12">
                    <input id="user_contact_disbaled" type="email" class="validate" name="user_contact_disbaled"
                        disabled value="{{ user_data.email }}" required>
                    <label for="user_contact_disbaled">Email (Your registered account email)</label>
                    <!-- Send user email as user_contact as disabled field won't post?? -->
                    <input id="user_contact" type="email" class="validate" name="user_contact"
                        value="{{ user_data.email }}" hidden>

                </div>
                <div class="input-field col s12">
                    <textarea id="message" class="materialize-textarea" name="message" required
                        placeholder="Details of the report, the more details the better? Usernames, Times of incident etc"></textarea>
                    <label for="message">Report Details</label>
                </div>
                {% else %}
                <div class="input-field col s12">
                    <input id="user_contact" type="email" class="validate" name="user_contact" required>
                    <label for="user_contact">Email</label>
                </div>
                <div class="input-field col s12">
                    <textarea id="message" class="materialize-textarea" name="message" required
                        placeholder="Details of the report, the more details the better? Usernames, Times of incident etc"></textarea>
                    <label for="message">Report Details</label>
                </div>

                {% endif %}
                <button type="submit" class="btn indigo white-text full-width-btn">Submit</button>
            </div>
        </form>
    </div>
</div>
<span class="author login-author">Creator: <a href="{{ background.0.creator_backlink }}">{{ background.0.creator }}</a>
    <br>
    {% if background.0.source %}
    Source:
    {% if background.0.source_backlink %}
    <a href="{{ background.0.source_backlink }}">{{ background.0.source }}</a>
    {% else %}
    <strong>{{ background.0.source }}</strong>
    {% endif %}
    {% endif %}
    {% if session.user %}
    <br><br>
    <a href="{{ url_for('share_your_art')}}">Share your own artwork</a>
    {% endif %}
</span>
</div>


{% endblock%}
<!-- end section-->

<!-- page specific script files below -->
{% block pagescripts %}

{% endblock %}
<!-- end section-->