{% extends "base.html" %}

<!-- page specific stylesheets below -->
{% block pagestyles %}
<link rel="stylesheet" href="{{ url_for ('static', filename='css/social.css')}}" type="text/css">
{% endblock %}
<!-- end section-->

<!-- page title below **NO FORMATING** -->
{% block pagetitle %}
Social
{% endblock %}
<!-- end section-->

<!-- page content below -->
{% block content %}
{% if session.user %}
<!-- User Logged In-->

<div class="container">
  <div class="row">
    <h1 class="title">
      Be <strong>Social</strong>!
    </h1>
    <span class="social-slogan">
      Be social, make friends and journal together
    </span>
    <br>
    <hr class="indigo darken-1 title-short">
    <br>
  </div>
  <div class="row">
    <div class="col s3 m6 boxed-style user-tile-container">
      <!-- User Tiles-->
      {% for user in users %}
      <div class="col s12 m4 indigo darken-1 white-text user-tile">
        <div class="user-tile-profile-picture-container center-align">
          {% if user.profile_image_url == "No Photo" %}
          <i class="fa-regular fa-circle-user user-tile-profile-placeholder"></i>
          {% else %}
          <img src="{{ user.profile_image_url }}" alt="{{user.username}}'s profile picture" class="user-tile-profile-picture">
          {% endif %}
        </div>
        <p class="center-align px5-margin text-capitalise one-line tooltipped" data-position="top" data-tooltip="{{user.full_name}}">{{user.full_name}}</p>
        <p class="center-align px5-margin one-line tooltipped" data-position="top" data-tooltip="@{{user.username}}">@{{user.username}}</p>
        <div class="action-btn-contai">
          {% if user.username in current_user.friend_list  %}
          <a href="http://" class="btn user-tile-action-btn white black-text tooltipped" data-position="top" data-tooltip="Send @{{user.username}} a message"><i class="fa-solid fa-comments"></i></a>
          <a href="http://" class="btn user-tile-action-btn red darken-4 white-text tooltipped" data-position="top" data-tooltip="Block @{{user.username}}"><i class="fa-solid fa-user-xmark"></i></a>
          {% else %}
          <a href="http://" class="btn user-tile-action-btn green darken-1 white-text tooltipped" data-position="top" data-tooltip="Add @{{user.username}} as a friend"><i class="fa-solid fa-user-plus"></i></a>
          <a href="http://" class="btn user-tile-action-btn red darken-4 white-text tooltipped" data-position="top" data-tooltip="Block @{{user.username}}"><i class="fa-solid fa-user-xmark"></i></a>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="col s9 m6 boxed-style">
      <!-- Messages-->
      DATA HERE IN MESSAGES
    </div>
  </div>
</div>
{% else %}
<!-- No User Logged In-->
<div class="row">
  <h3 class="center-align">You must be logged in to use social! <a href="{{ url_for('login') }}">Login
      Here</a></h3>
</div>
{% endif %}
{% endblock%}
<!-- end section-->

<!-- page specific script files below -->
{% block pagescripts %}

{% endblock %}
<!-- end section-->